.navbar {
    display: flex;
    align-items: center;
    width: 600px;
    margin-top: 30px;
}

.navbar h1 {
    color: rgb(12, 17, 66);
    font-weight: 300;
}

@media screen and (max-width: 720px) {
    .navbar {
        justify-content: center;
    }
}